@model LearnSchoolApp.Entities.Project

<div>
    <h4>פרויקט</h4>
    <div>
        @Html.ActionLink("עריכה", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("מחיקה", "Delete", new { id = Model.Id })
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            מס' סידורי
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            שם
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            המנחה
        </dt>
        <dd class="col-sm-10">
            <details>
                <summary>@Html.DisplayFor(model => model.guideName)</summary>
                @Html.DisplayFor(model => model.guideId)
            </details>
        </dd>
        <dt class="col-sm-2">
            סטודנט ראשי
        </dt>
        <dd class="col-sm-10">
            <details>
                <summary>@Html.DisplayFor(model => model.studentName)</summary>
                @Html.DisplayFor(model => model.studentId)
            </details>
        </dd>
        <dt class="col-sm-2">
            סטודנט שותף
        </dt>
        @{ 
            if(Model.assistantStudentId != null)
            {
                <dd class="col-sm-10">
                    <details>
                        <summary>@Html.DisplayFor(model => model.assistantStudentName)</summary>
                        @Html.DisplayFor(model => model.assistantStudentId)
                    </details>
                </dd>
            }
            else
            {
                <dd>
                    ---
                </dd>
            }
        }
        
        <dt class="col-sm-2">
            מאושר
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isPass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">חזרה לרשימה</a>
</div>
