@model LearnSchoolApp.Entities.HeadOfDeprament

<html>
<head>
    <style>
        body {
            text-align: left;
            background-image: url(https://media.istockphoto.com/vectors/watercolor-seamless-background-with-green-hexagon-tiles-vector-id1212124417?k=20&m=1212124417&s=612x612&w=0&h=DQ_M1UGj4e2JiJDs8SGJ3RgIk_8myxNuGtyb2OKQFeI=);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        footer {
            background: rgb(255 255 255 / 80%);
        }

        table {
            box-shadow: 0 10px 10px #033740;
        }

        td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }

        tr:nth-child(2n+1) {
            background-color: #a2dbcb;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h4>הפרופיל שלי</h4>
        <hr />
    </div>
    <center>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Id)
                    </td>
                    <td>
                        <b>מס' סידורי</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.userId)
                    </td>
                    <td>
                        <b>ת"ז</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.name)
                    </td>
                    <td>
                        <b>שם</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.username)
                    </td>
                    <td>
                        <b>שם משתמש</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.password)
                    </td>
                    <td>
                        <b>סיסמה</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.email)
                    </td>
                    <td>
                        <b>מייל</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.phone)
                    </td>
                    <td>
                        <b>מס' טלפון</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.isGuid)
                    </td>
                    <td>
                        <b>מנחה</b>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>
