@model IEnumerable<LearnSchoolApp.Entities.Student>

<p>
    <a asp-action="Create">הוספת סטודנט חדש</a>
</p>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <i>@TempData["AlertMessage"]</i>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ת"ז
            </th>
            <th>
                שם
            </th>
            <th>
                שם משתמש
            </th>
            <th>
                מייל
            </th>
            <th>
                מס' טלפון
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.ActionLink("פרטים", "Details", new { id = item.userId })
                </td>
            </tr>
        }
    </tbody>
</table>
