@model LearnSchoolApp.Entities.Student

<html>
<head>
    <style>
        body {
            background-size: cover;
            background-position: center;
            background-image: url(https://cdn1.vectorstock.com/i/1000x1000/63/40/background-pattern-with-computer-icons-vector-18526340.jpg);
        }

        footer {
            background: rgb(255 255 255 / 80%);
        }

        h4 {
            text-shadow: 0 0 1em #93358f;
        }

        table {
            border-collapse: collapse;
            background-color: #f8f8f8;
            width: 100%;
            border-radius: 1em;
            box-shadow: 0 10px 10px #033740;
            text-align: center;
        }

        button {
            color: black;
            padding: 50px;
            text-align: center;
            text-decoration: double;
            display: inline-block;
            font-size: 20px;
            margin: 10px 5px;
            cursor: pointer;
            border-radius: 20%;
            width: 235px;
            height: 235px;
            box-shadow: 0 10px 10px #2b519f;
        }

        img {
            width: fit-content;
            height: fit-content;
            border-radius: 1em;
        }

        .alert-warning {
            box-shadow: 0 10px 10px #b08100;
        }

        .title {
            background-color: #f8f8f8;
            border-radius: 1em;
            box-shadow: 0 10px 10px #033740;
        }
    </style>
</head>
<body>
    <div class="text-center title">
        <h4>@Model.name שלום</h4>
        <hr />
    </div>
    <table>
        <tr>
            <td rowspan="2"><img src="https://www.visualinfomedia.com/images/web-development-banner.png" /></td>
            <td colspan="2">
                <button style=" background-color: dodgerblue;">
                    @{
                        if (Model.isProject)
                        {
                            @Html.ActionLink("פרויקט", "GetProject", new { id = Model.userId })
                        }
                        else
                        {
                            <i><b>עדיין לא התקיים פרויקט</b></i>
                        }
                    }
                </button>
            </td>
        </tr>
        @{
            if (Model.isProject)
            {
                <tr>
                    <td>
                        <button style=" background-color:orange;">
                            @Html.ActionLink("בדיקת התראות מראש המגמה", "CheckHeadNotes", new { id = Model.userId })
                        </button>
                    </td>
                    <td>
                        <button style=" background-color: greenyellow;">
                            @Html.ActionLink("בדיקת התראות מהמנחה", "CheckGuidNotes", new { id = Model.userId })
                        </button>
                    </td>
                </tr>
            }
        }
    </table>

    <br />

       @if (TempData["HeadNotes"] != null)
    {
        <div class="text-center alert alert-warning">
            <i>@TempData["HeadNotes"]</i>
        </div>
    }
    @if (TempData["GuidNotes"] != null)
    {
        <div class="text-center alert alert-warning">
            <i>@TempData["GuidNotes"]</i>
        </div>
    }
 
    <div class="text-center title">
        <table class="table text-center">
            <thead>
                <tr>
                    <th width="50%">
                        הנחיות ראש המגמה
                    </th>

                    <th width="50%">
                        הנחיות המנחה
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        @if (TempData["HeadListNotes"] != null)
                        {
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>
                                            מאושר
                                        </th>
                                        <th>
                                            סטטוס
                                        </th>
                                        <th>
                                            תאריך
                                        </th>
                                        <th>
                                            'מס
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in TempData["HeadListNotes"] as List<LearnSchoolApp.Entities.Status>)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.isPass)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.currentStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </td>

                    <td>
                        @if (TempData["GuidListNotes"] != null)
                        {
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>
                                            מאושר
                                        </th>
                                        <th>
                                            סטטוס
                                        </th>
                                        <th>
                                            תאריך
                                        </th>
                                        <th>
                                            'מס
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in TempData["GuidListNotes"] as List<LearnSchoolApp.Entities.Status>)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.isPass)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.currentStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

