@model LearnSchoolApp.Entities.Student

<div>
    <h4>שלום @Model.name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            מס' סידורי
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            ת"ז
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class="col-sm-2">
            שם
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            שם משתמש
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class="col-sm-2">
            סיסמה
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class="col-sm-2">
            מייל
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            מס' טלפון
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            פרויקט
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.isProject)
                {
                    @Html.ActionLink("פרטים", "GetProject", new { id = Model.userId })
                }
                else
                {
                    <i><b><label><ins>עדיין לא התקיים פרויקט</ins></label></b></i>
                }
            }
        </dd>
        @*<dt class="col-sm-2">
            פרויקט
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.isProject)
                {
                    @Html.ActionLink("פרטים", "ProjectStatus", new { id = Model.userId })
                }
                else
                {
                    <i><b><label><ins>אין הנחיות</ins></label></b></i>
                }
            }
        </dd>*@
        @*<div>@Html.ActionLink("פרטים", "ProjectStatus", new { id = item.Id })</div>*@
    </dl>
</div>

