@model IEnumerable<LearnSchoolApp.Entities.Manager>

<html>
<head>
    <style>
        body {
            text-align: left;
            background-image: url(https://wallpapercave.com/wp/wp5306486.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        footer {
            background-color: #ddc4a8de;
        }

        table {
            border-collapse: collapse;
            width: 50%;
            border: double;
        }

        td {
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: white;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }

        tr:nth-child(2n+1) {
            background-color: #a2dbcb;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h4>מנהלים</h4>
        <hr />
        <p>
            <a asp-action="Create">הוספת מנהל חדש</a>
        </p>
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success">
                <i>@TempData["AlertMessage"]</i>
            </div>
        }
    </div>
    <center>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        מס' טלפון
                    </th>
                    <th>
                        מייל
                    </th>
                    <th>
                        שם משתמש
                    </th>
                    <th>
                        שם
                    </th>
                    <th>
                        ת"ז
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink("פרטים", "Details", new { id = item.userId })
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.userId)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </center>
</body>
</html>
