@model IEnumerable<LearnSchoolApp.Entities.Guide>

<p>
    <a asp-action="Create">הוספת מנחה חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ת"ז
            </th>
            <th>
                שם
            </th>
            <th>
                שמ משתמש
            </th>
            <th>
                מייל
            </th>
            <th>
                מס' טלפון
            </th>
            <th>
                ראש מגמה
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isHeadOfDepratment)
            </td>
            <td>
                @Html.ActionLink("פרטים", "Details", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
